{% include "header.html" %}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
<META HTTP-EQUIV="max-age" CONTENT="31536000">
<link rel="stylesheet"
    href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <body>
        <div class="container">
            {% if viewbecausestaff == True %}
            <div class="alert alert-dismissible fade show alert-danger" role="alert">
                Warning: You are not the owner of this file, you only can see it because you are staff.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            {% endif %}
            <pre><code>{{text}}</pre></code>
        </div>
    </body>
</html>